*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
    gap: 16px;
}

.item {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-inline: 32px;
}

.resultado {
    width: 75px;
    height: 20px;
    color: black;
    background-color: white;
}